==== Response Fields
|===
|Path|Type|Optional|Description

{{#fileds}}

|{{#tableCellContent}}`+{{path}}`+{{/tableCellContent}}
|{{#tableCellContent}}`+{{path}}`+{{/tableCellContent}}
    //O 대신 true로 표시해도 됨
|{{#tableCellContent}}{{#optional}}O{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}

|===